/* Style sheet for black-light-aquarium mock-up challenge */

body{
  background-color: #9A4D9F;
  font-family: "Montserrat", sans-serif;
  
  width: 100%;
  margin: 0px;
}

body > img{
  position: absolute;
  z-index: -2;
}

main{
  margin: 28px;
}

h1{
  font-size: 41px;
}

h2{
  font-size: 24px;
  font-weight: 700;
}

/* Allows text to be centered within flexbox containers */
h1, h2, p{
  display: inline;
  margin: 0;
  text-align: center;
}

h3{
  margin: 0px 16px;
  display: inline;
}

.purple {
  color: #9A4D9F;
}

/* Formatting for the header elements and its children*/

header{
  background-color: transparent; /* Make the background transparent but leave the elements alone */
  color: #ffffff;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.get-ticket{
  display: flex;
  align-items: center;
  margin: 0 25px;
}

nav {
  display: flex;
}

.mobile-only{
  display: none; /* hide the hamburger menu while not in mobile */
  padding: 15px;
}


/* Style all of the elements contained within the body of the web-page*/

.event-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.heading-txt-box h2{
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
}


.heading-txt-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.calendar-card{
  color: #ffffff;
  background-color: rgba(255,255,255,0.3);
  display: inline-block;
}

.calendar-txt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-box{
  display: inline-block;
  background-color: #080925;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 274px;
  width: 291px;
  overflow: hidden;
}

.card h2{
  padding: 25px 0px;
}

.card p {
  font-size: 24px;
  font-weight: 100;
  height: 141px;
  text-align: center;
}

/* Styling for the footer and all realated elements */

footer{
  background-color: #080925;
  color: #ffffff;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}


.social-media {
  display: flex; /* Inlcuded so that the padding for <a> is fully included in the body of the <div> */
}

.social-media a{
  padding: 15px;
}


@media screen and (max-width: 375px) {
  
  .mobile-only{
    display: inline; /* Reveal the hamgurger menu */
  }

  header{
    justify-content: start;
  }

  nav {
    order: -1;
  }

  main{
    margin-top: 230px;
    margin-bottom: 269px;
  }

  .calendar-card{
    height: 68px;
    width: 68px;

    border-radius: 8px;
  }

  .calendar-txt{
    margin: 7px 14px;
  }

  .calendar-txt h2{
    font-size: 31px;
    font-weight: 400;
  }

  .calendar-txt p{
    font-size: 10px;
  }

  .heading-txt-box{
    height: 208px;
    margin: 20px;
  }

  .card-container{
    height: 945px;
    margin: 51px 0px;
  }

  .link-box{
    width: 316px;
    font-size: 17px;
    padding: 18px 0px;
    border-radius: 30px;
  }

  .fish{
    left: -241px;
    top: -40px;
  }

}