/* Style sheet for black-light-aquarium mock-up challenge */

body{
  background-color: #9A4D9F;
  font-family: "Montserrat", sans-serif;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
  font-weight: 700;
}

h3{
  margin: 0px 16px;
  display: inline;
}


h1, h2, h3, p{
  display: inline;
  margin: 0;
}

.purple {
  color: #9A4D9F;
}

/* Formatting for the header elements and its children*/

header{
  background-color: transparent; /* Make the background transparent but leave the elements alone */
  color: #ffffff;
  font-weight: bold;

  background-color:#080925; /* test background*/
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.get-ticket{
  display: flex;
  align-items: center;
  margin: 0 25px;
}

nav {
  display: flex;
}

.mobile-only{
  display: none; /* hide the hamburger menu while not in mobile */
  padding: 15px;
}


/* Style all of the elements contained within the body of the web-page*/

.heading-txt-box h2{
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
}


.calendar-card{
  color: #ffffff;
  background-color: rgba(255,255,255,0.3);
  display: inline-block; /* Allows for .calendar-txt to be centered in container */
}

.calendar-txt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border: 1px black;
}

.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 274px;
  width: 291px;
  overflow: hidden;
}

.card h2{
  padding: 25px 0px;
}

.card p {
  font-size: 24px;
  font-weight: 100;
  height: 141px;
  text-align: center;
}


footer{
  background-color: #080925;
  color: #ffffff;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* <div>s are block items, so they will need to be inline to play nice */
footer p {
  font-family: "Lato", sans-serif;
  font-size: 10px;
}


.social-media {
  display: flex; /* Inlcuded so that the padding for <a> is fully included in the body of the <div> */
}

.social-media a{
  padding: 15px;
}


@media screen and (max-width: 375px) {
  
  .mobile-only{
    display: inline; /* reveal the hamgurger menu */
  }

  header{
    justify-content: start;
  }

  nav {
    order: -1;
  }

  .calendar-card{
    height: 68px;
    width: 68px;

    border-radius: 8px;
  }

  .calendar-txt{
    margin: 7px 14px;
  }

  .calendar-txt h2{
    font-size: 31px;
    font-weight: 400;
  }

  .calendar-txt p{
    font-size: 10px;
  }

}