/* Style sheet for black-light-aquarium mock-up challenge */

body{
  background-color: #9A4D9F;
}


footer{
  background-color: #080925;
}


/* <p> and <div> are block items, so they will need to be inline to play nice */
footer > *{
  display: inline-block;
}